.chat-container {
  position: fixed;
  top: 60px;         /* cambia bottom por top */
  right: -10px;
  width: 300px;
  font-family: Arial, sans-serif;
}

.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 100%;
}

.chat-logo {
  width: 80px;
  height: 88px;
  margin-left: 50%;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite;
  margin-top: 10px;
}

.animated-logo {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.chat-message {
  background: #e1f5fe;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  position: relative;
}

.chat-message.speech-bubble {
  background: #e1f5fe;
  border: 2px solid #0277bd;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
}

.chat-message.speech-bubble::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 45%;
  width: 20px;
  height: 20px;
  background: #e1f5fe;
  border: 2px solid #0277bd;
  border-width: 2px 0 0 2px;
  transform: rotate(45deg);
}


.chat-message ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.chat-message li {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
  background: #0277bd;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.chat-message li:hover {
  background: #01579b;
}

.chat-button {
  background: #0277bd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

.chat-button:hover {
  background: #01579b;
}
.chat-container.closed .chat-logo {
  margin-left: auto;
  margin-right: 10px; /* Ajustalo a gusto */
}
.close-button {
  position: absolute;
  top: 5px;
  right: 1px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: #d32f2f;
}
.chat-message b {
  font-weight: bold;
  color: #0277bd;
}