.custom-calendar {
    width: 90%;
    margin: 0 auto; /* Para centrar el calendario horizontalmente */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.2em;
}

.custom-calendar .react-calendar__tile {
    background-color: #f0f8ff;
    border-radius: 8px;
}

.custom-calendar .react-calendar__tile--now {
    background-color: #ffe4e1;
    border: 2px solid #ff69b4;
    color: #ff69b4;
}

.custom-calendar .react-calendar__tile--active {
    background-color: #ffb6c1;
    border: 2px solid #ff69b4;
    color: #ffffff;
}

.custom-calendar .react-calendar__tile--active:enabled:hover,
.custom-calendar .react-calendar__tile--active:enabled:focus {
    background-color: #ff69b4;
}

.birthday-icon {
    color: #ff4500;
    font-size: 1.5em;
    text-align: center;
}
.react-calendar__tile--fechas1 {
    background-color: rgb(0, 255, 81) !important;
    color: white !important;
}

.react-calendar__tile--fechas2 {
    background-color: rgb(241, 47, 47) !important;
    color: white !important;
}
.react-calendar__tile--fechas1y2 {
    background-color: rgb(208, 208, 4) !important;
    color: white !important;
}