.fondo-imagen {
  background-image: linear-gradient(90deg, #9775fa 0%, #69db7c 0%, #3bc9db 99%, #ec8c69 100%, #f783ac 100%, #ffa94d 100%, #ed6ea0 100%);
      background-size: cover;
    background-repeat: no-repeat;
    width: 85vw; /* Ancho del viewport */
    height: 100vh; /* Altura del viewport */
    margin: 0; /* Elimina el margen predeterminado del body */
  }
  @media print {
    body * {
      visibility: hidden;
    }
    .print-container, .print-container * {
      visibility: visible;
    }
    .print-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  @media print {
    body * {
      visibility: hidden;
    }
    .print-container, .print-container * {
      visibility: visible;
    }
    .print-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .print-container .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .print-container .header img {
      height: 50px;
    }
    .print-container .header .title {
      flex-grow: 1;
      text-align: center;
    }
    .print-container .header .title h1 {
      font-size: 24px;
      color: #000;
      margin: 0;
    }
    .print-container .color-line {
      width: 100%;
      height: 5px;
      background: linear-gradient(to right, red, orange, blue, green);
      margin-bottom: 20px;
    }
    .print-container .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #000;
    }
    .print-container table {
      width: 100%;
      border-collapse: collapse;
    }
    .print-container th, .print-container td {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }
  }
  /* paraimprimir.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  color: #333;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
